body {
  color: #000;
  background-color: #efefef;
}

.navbar {
    color: rgba(0,0,255,1);
}

.header {
  .logo {
    
      width: 200px;
      height: 300px;
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.5em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.title {
   color: black;
   display: block;
}
