body {
  color: #000;
  background-color: #efefef;
}

.navbar {
  color: blue;
}

.header .logo {
  width: 200px;
  height: 300px;
}

.posts .post .card-padding {
  padding: 10px;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.5em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post img {
  width: 500px;
}

.posts .post .like {
  color: black;
  background-color: lightgreen;
}

.card {
  background-color: antiquewhite;
}

.a#navbarDropdown {
  color: azure;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.title {
  color: black;
  display: block;
}

